<a href="https://colab.research.google.com/github/De-Las-Alas/58009-DSAA/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accessing the Elements in the Array (traversal)

In [2]:
animals = ["cat", "dog", "fish"]
x = animals[0]
print (x)

cat

Modifying the Elements in the Array (modify)

In [7]:
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
print (animals)

['monkey', 'dog', 'fish']

Length of an Array

In [5]:
animals = ["cat", "dog", "fish"]
x = len(animals)
print (x)

3

Looping Array Elements

In [6]:
animals = ["cat", "dog", "fish"]
for x in animals:
  print(x)

cat
dog
fish

Adding Elements in the Array (using append())

In [12]:
animals = ["cat", "dog", "fish"]
animals.append("monkey")
print(animals)

['cat', 'dog', 'fish', 'monkey']

Adding Elements in the Array (using insert())

In [18]:
animals = ["cat", "dog", "fish"]
animals.insert(0,"monkey")
print(animals)

['monkey', 'cat', 'dog', 'fish']

In [19]:
animals = ["cat", "dog", "fish"]
animals.insert(1,"monkey")
print(animals)

['cat', 'monkey', 'dog', 'fish']

In [20]:
animals = ["cat", "dog", "fish"]
animals.insert(2,"monkey")
print(animals)

['cat', 'dog', 'monkey', 'fish']

Removing an Element in the Array

In [13]:
animals = ["cat", "dog", "fish"]
animals.pop(1)
print(animals)

['cat', 'fish']

Sorting Elements in the Array

In [39]:
def sortanim1(val):
  return val[1]

def sortanim2(val):
  return val[2]

animals = ["cat", "dog", "fish"]
print(animals)

animals.sort(reverse = True)
print(animals)

animals.sort(reverse = False)
print(animals)

animals.sort(key = sortanim1, reverse = False)
print(animals)

animals.sort(key = sortanim2, reverse = False)
print(animals)

['cat', 'dog', 'fish']
['fish', 'dog', 'cat']
['cat', 'dog', 'fish']
['cat', 'fish', 'dog']
['dog', 'fish', 'cat']